<ion-content>
  <ion-icon (click)="back()" class="back-icon text-black" name="ios-arrow-back"></ion-icon>
  <img class="banner" src="assets/img/banner.png">
  <div padding>
    <ion-item no-lines no-padding>
      <img item-left class="user-img" src="assets/img/men.png">
      <div class="small-text bold-font">Brayden aaron</div>
      <div class="small-text text-grey">Lorem ipsum is simply</div>
      <div *ngIf="!isCompleted" item-right class="set-shadow small-text bold-font yellow-text">IN PROGRESS</div>
      <div *ngIf="isCompleted" item-right class="set-shadow small-text bold-font green-text">COMPLETED</div>
    </ion-item>
    <div margin-top class="bold-font medium-text">PRINTING TYPESET LOREM IPSUM IS AND INDUSTRY IS AND INDUSTRY.</div>
    <div margin-top class="small-text text-grey">What is lorem ipsum? lorem ipsum is simply dummy text of the printing
      lorem ipsum is simply dummy text of the printing.</div>
    <div padding-top margin-top class="medium-text bold-font">Requirement</div>
    <div class="top-margin small-text text-grey">Wedding Planner<span class="right-align normal-font">1 Person</span></div>

    <div padding-top margin-top class="medium-text bold-font">Rate<span class="right-align normal-font">$150</span></div>
    <div class="top-margin small-text text-grey">Start Date<span class="right-align normal-font">14-Aug-2020</span></div>
    <div class="top-margin small-text text-grey">End Date<span class="right-align normal-font">30-Aug-2020</span></div>

    <div margin-top padding-top>
      <button (click)="back()" ion-button round full>Cancel</button>
    </div>
  </div>
  <div *ngIf="!isCompleted">
    <div padding>
      <div margin-top class="medium-text bold-font">Frequently Asked Questions</div>
      <div margin-top class="bold-font small-text">What is Lorem ipsum?</div>
      <div class="top-margin small-text text-grey">Lorem ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
    <div class="saperator"></div>
    <div padding>
      <div class="bold-font small-text">What is Lorem ipsum?</div>
      <div class="top-margin small-text text-grey">Lorem ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
    <div class="saperator"></div>
    <div padding>
      <div class="bold-font small-text">What is Lorem ipsum?</div>
      <div class="top-margin small-text text-grey">Lorem ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
    <div class="saperator"></div>
    <div padding>
      <div class="bold-font small-text">What is Lorem ipsum?</div>
      <div class="top-margin small-text text-grey">Lorem ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
    <div class="saperator"></div>
    <div padding>
      <div class="bold-font small-text">What is Lorem ipsum?</div>
      <div class="top-margin small-text text-grey">Lorem ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
  </div>
  <div *ngIf="isCompleted">
    <div padding>
      <div margin-top class="medium-text bold-font">Review<span class="small-text right-align nobold-font normal-font text-grey">[180 reviews]</span></div>
      <div class="top-margin small-text text-grey">Tap to Rate
        <span class="right-align normal-font">
        <ionic3-star-rating activeIcon = "ios-star"
                            defaultIcon = "ios-star-outline"
                            activeColor = "#F29529"
                            defaultColor = "#f4f4f4"
                            readonly="false"
                            rating="0"
                            fontSize = "32px">
        </ionic3-star-rating>
      </span>
      </div>
      <div>
        <ion-icon class="edit-icon" name="ios-create-outline"></ion-icon>
        <textarea class="top-margin review-tab full-input" placeholder="Write a Review" rows="6"></textarea>
      </div>
      <div text-center margin-top>
        <button ion-button round>Submit</button>
      </div>
    </div>
    <div padding>
      <div class="medium-text bold-font">What is Lorem Ipsum</div>
      <ion-item no-lines no-padding style="min-height: 1rem">
        <img item-left no-padding no-margin class="review-user-img" src="assets/img/men.png">
        <div>
          <div text-wrap class="text-grey smaller-text">What is lorem ipsum</div>
          <div style="margin-top: 5pt" text-wrap class="text-grey smaller-text">by <span class="text-black bold-font">Brayden aaron</span> - 15 min ago</div>
        </div>
      </ion-item>
      <div class="row">
        <span class="rating-count smaller-text">5.0</span>
        <span style="margin-left: 5pt"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>
    <div class="saperator"></div>

    <div padding>
      <div class="medium-text bold-font">What is Lorem Ipsum</div>
      <ion-item no-lines no-padding style="min-height: 1rem">
        <img item-left no-padding no-margin class="review-user-img" src="assets/img/men.png">
        <div>
          <div text-wrap class="text-grey smaller-text">What is lorem ipsum</div>
          <div style="margin-top: 5pt" text-wrap class="text-grey smaller-text">by <span class="text-black bold-font">Brayden aaron</span> - 15 min ago</div>
        </div>
      </ion-item>
      <div class="row">
        <span class="rating-count smaller-text">5.0</span>
        <span style="margin-left: 5pt"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>
    <div class="saperator"></div>

    <div padding>
      <div class="medium-text bold-font">What is Lorem Ipsum</div>
      <ion-item no-lines no-padding style="min-height: 1rem">
        <img item-left no-padding no-margin class="review-user-img" src="assets/img/men.png">
        <div>
          <div text-wrap class="text-grey smaller-text">What is lorem ipsum</div>
          <div style="margin-top: 5pt" text-wrap class="text-grey smaller-text">by <span class="text-black bold-font">Brayden aaron</span> - 15 min ago</div>
        </div>
      </ion-item>
      <div class="row">
        <span class="rating-count smaller-text">5.0</span>
        <span style="margin-left: 5pt"><ionic3-star-rating activeIcon = "ios-star"
                                                           defaultIcon = "ios-star-outline"
                                                           activeColor = "#F29529"
                                                           defaultColor = "#f4f4f4"
                                                           readonly="true"
                                                           rating="5"
                                                           fontSize = "32px">
        </ionic3-star-rating></span>
      </div>
    </div>
  </div>
</ion-content>
