page-search {
  .searchbar .searchbar-search-icon {
    top: 8px;
    width: 15px;
    height: 15px;
    color: grey;
  }
  .searchbar .searchbar-input{
    padding: 0 55px;
    font-size: 1.2rem;
    border-radius: 10px;
    background: #F2F2F2;
  }
  .searchbar-ios{
    background: #F2F2F2;
    border-radius: 10px;
    min-height: 35px;
  }
  .filter{
    background: #EC5368;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 2.5rem;
  }

  .segment-div{
    border-radius: 20px;
    border: 1px solid #EC5368;
  }
  .left{
    border-radius: 20px 0 0 20px;
    color: #EC5368;padding: 6pt;
  }
  .right{
    border-radius: 0 20px 20px 0;
    color: #EC5368;padding: 6pt;
  }
  .selected-left{
    background: #EC5368;
    color: white;
  }

}
